{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Date: {% current_date %} </h1>
<h1>Number of posts: {{ page_obj.paginator.count }}</h1>
{% if is_not_sub %}
<button><a href="{% url 'subscribe' category.id %}">Subscribe</a></button>
{% endif %}

{% if category_news_list %}
    <table class = 'text-xxl-start'>
        <tr>
                <td><h2><b>Type</b></h2></td>
                <td><h2><b>Date</b></h2></td>
                <td><h2><b>Title</b></h2></td>
                <td><h2><b>Text</b></h2></td>
                <td><h2><b>Rating</b></h2></td>
                <td><h2><b>Author</b></h2></td>
                <td><h2><b>Category</b></h2></td>
        </tr>
        {% for post in category_news_list %}
        <tr>
            <td><h2><i>{{ post.type }}</i></h2></td>
            <td><h2><i>{{ post.data|date:'d M Y'}}</i></h2></td>
            <td><h2><i>{{ post.title |censor }}</i></h2></td>
            <td><h2><i>{{ post.text|truncatechars:20 |censor}}</i></h2></td>
            <td><h2><i>{{ post.post_rating }}</i></h2></td>
            <td><h2><i>{{ post.author.user }}</i></h2></td>
            <td><h2><i>
            {% for category in post.category.all %}
                <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
            </i></h2></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <h1>Posts does`t exists</h1>
{% endif %}

{# PAGINATION #}
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{page_obj.paginator.num_pages}}</a>
{% endif %}
{% endif %}

<hr>
<h2>User: {{ request.user.username }}</h2>
<h2>Info: {{ request.user.email }}</h2>
<button><a href="http://127.0.0.1:8000/sign/logout/">Exit</a></button>
{% if is_not_author %}
<button><a href="http://127.0.0.1:8000/sign/upgrade/">Become Author</a></button>
{% endif %}
{% endblock content %}